@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 24px !important;
  height: 24px !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
  margin-top: 32px;
}

.swiper-slide.swiper-slide-active {
  --tw-border-opacity: 1 !important;
  border-color: rgb(79 70 229 / var(--tw-border-opacity)) !important;
}

.swiper-slide.swiper-slide-active > .swiper-slide-active\:text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.swiper-slide.swiper-slide-active
  > .flex
  .grid
  .swiper-slide-active\:text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.details-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to top left, #7c3aed, #2563eb);
}
.image-container {
  position: relative;
  width: 170px;
  height: 170px;
}

.image-container img {
  height: 70px;
}
.image-container .full {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid #ffb92325;
}
.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top: 2px solid #b29336; /* Adjust color to your preference */
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  /* searchbar input of course */
  .searchbar {
    max-width: 60px; /* Sets a maximum width */
    max-height: 50px;
  }
  .image-container {
    position: relative;
    width: 100px;
    height: 100px;
  }
  .image-container img {
    height: 40px;
  }
}
.loadingone {
  position: relative;

  animation: firstLoad 5s infinite;
}
.loadingsecond {
  position: relative;

  animation: SecondLoad 2s infinite;
}

@keyframes firstLoad {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes SecondLoad {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* searchbar input of course */
.searchbar {
  font-size: 14px;
  font-family: "Poppins", sans-serif !important;
  color: #202124;
  display: flex;
  z-index: 3;
  background: white;
  box-shadow: none;
  border-radius: 40px;
  margin: 0 auto;
  width: 100%; /* Use 100% to make it responsive */
  max-width: 600px; /* Sets a maximum width */
  height: 60px;
}

.searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.searchbar-left {
  font-size: 14px;
  font-family: "Poppins", sans-serif !important;
  color: #202124;
  display: flex;
  align-items: center;
  margin-top: -5px;
}

.search-icon-wrapper {
  margin: auto;
}

.search-icon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.searchbar-icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.searchbar-center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.searchbar-input-spacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}

.searchbar-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}

.searchbar-right {
  display: flex;
  flex: 0 0 auto;
  margin-top: 13px;

  align-items: stretch;
  flex-direction: row;
}

.searchbar-clear-icon {
  margin-right: 12px;
}

.voice-search {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 2.8em;
}

.icon-gradient {
  background: linear-gradient(to top left, #2563eb, #7c3aed);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 48px; /* Adjust size */
}
