@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 24px !important;
  height: 24px !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
  margin-top: 32px;
}

.swiper-slide.swiper-slide-active {
  --tw-border-opacity: 1 !important;
  border-color: rgb(79 70 229 / var(--tw-border-opacity)) !important;
}

.swiper-slide.swiper-slide-active > .swiper-slide-active\:text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.swiper-slide.swiper-slide-active
  > .flex
  .grid
  .swiper-slide-active\:text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.details-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1029%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='rgba(178%2c 147%2c 54%2c 1)'%3e%3c/rect%3e%3cpath d='M43 250L293 0L392 0L142 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1030%26quot%3b)'%3e%3c/path%3e%3cpath d='M263.6 250L513.6 0L566.1 0L316.1 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1030%26quot%3b)'%3e%3c/path%3e%3cpath d='M516.2 250L766.2 0L1111.2 0L861.2 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1030%26quot%3b)'%3e%3c/path%3e%3cpath d='M755.8000000000001 250L1005.8000000000001 0L1335.8000000000002 0L1085.8000000000002 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1030%26quot%3b)'%3e%3c/path%3e%3cpath d='M1394 250L1144 0L1033 0L1283 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1031%26quot%3b)'%3e%3c/path%3e%3cpath d='M1177.4 250L927.4000000000001 0L714.4000000000001 0L964.4000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1031%26quot%3b)'%3e%3c/path%3e%3cpath d='M921.8 250L671.8 0L508.29999999999995 0L758.3 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1031%26quot%3b)'%3e%3c/path%3e%3cpath d='M708.1999999999999 250L458.19999999999993 0L357.69999999999993 0L607.6999999999999 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1031%26quot%3b)'%3e%3c/path%3e%3cpath d='M1225.9455362531965 250L1440 35.94553625319648L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1030%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L214.05446374680352 250L 0 35.94553625319648z' fill='url(%26quot%3b%23SvgjsLinearGradient1031%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1029'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1030'%3e%3cstop stop-color='rgba(197%2c 163%2c 61%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(197%2c 163%2c 61%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1031'%3e%3cstop stop-color='rgba(197%2c 163%2c 61%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(197%2c 163%2c 61%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.image-container {
  position: relative;
  width: 170px;
  height: 170px;
}

.image-container img {
  height: 70px;
}
.image-container .full {
  height: 100%;
  width:100% ;
  border-radius: 50%;
  border: 2px solid #ffb92325;
}
.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top: 2px solid #b29336; /* Adjust color to your preference */
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width:768px){
  /* searchbar input of course */
  .searchbar {

    max-width: 60px; /* Sets a maximum width */
    max-height: 50px;
  }
  .image-container {
    position: relative;
    width: 100px;
    height: 100px;
  }
  .image-container img {
    height: 40px;
  }
}
.loadingone{
  position: relative;
   
  animation: firstLoad 5s infinite;
  }
  .loadingsecond{
  position: relative;
   
  animation: SecondLoad 2s infinite;
  }
  
  @keyframes firstLoad{
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  @keyframes SecondLoad{
      from {transform: rotate(360deg);}
      to {transform: rotate(0deg);}
  }


  /* searchbar input of course */
  .searchbar {
    font-size: 14px;
    font-family: "Poppins", sans-serif !important;
    color: #202124;
    display: flex;
    z-index: 3;
    background: white;
    box-shadow: none;
    border-radius: 40px;
    margin: 0 auto;
    width: 100%; /* Use 100% to make it responsive */
    max-width: 600px; /* Sets a maximum width */
    height: 60px;
  }
  
  

  
  .searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
  }
  
  .searchbar-left {
    font-size: 14px;
    font-family: "Poppins", sans-serif !important;
    color: #202124;
    display: flex;
    align-items: center;
    margin-top: -5px;
  }
  
  .search-icon-wrapper {
    margin: auto;
  }
  
  .search-icon {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    line-height: 20px;
    width: 20px;
  }
  
  .searchbar-icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
  }
  
  .searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
  }
  
  .searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
  }
  
  .searchbar-right {
    display: flex;
    flex: 0 0 auto;
    margin-top: 13px;

    align-items: stretch;
    flex-direction: row
  }
  
  .searchbar-clear-icon {
    margin-right: 12px
  }
  
  .voice-search {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 2.8em;
  }